@media screen and (max-width: 600px) {
    body {
        font-size: 1em;
    }
    .cabecalho {
        font-size: 1.2em;
        margin-top: 4%;
        padding: 4%;
    }
    .cabecalho h1 {
        width: min-content;
    }
    .slide {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .retangulo {
        width: 100%;
    }
    .retangulo .descricao-da-obra {
        margin-top: 5%;
    }
    .circulo {
        font-size: 1.6em;
        padding: 0.5em;
    }
    .foto {
        width: 80%;
    }
    .foto img {
        position: relative;
    }
    .indicacoes {
        gap: 4%;
        margin: 5% 0 8%;
    }
    .indicacoes .bolinha {
        width: 3em;
        height: 3em;
    }
}
@media screen and (min-width: 600px) and (max-width: 1200px){
    body {
        font-size: 2em;
    }
    .cabecalho {
        margin-top: 4%;
        padding: 4%;
    }
    .cabecalho h1 {
        width: min-content;
    }
    .slide {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .retangulo {
        width: 100%;
    }
    .retangulo .descricao-da-obra {
        margin-top: 5%;
    }
    .circulo {
        font-size: 1.4em;
        padding: 0.5em;
    }
    .foto {
        width: 80%;
    }
    .foto img, .foto source {
        position: relative;
    }
    .indicacoes {
        gap: 4%;
        margin: 5% 0 8%;
    }
    .indicacoes .bolinha {
        width: 6em;
        height: 6em;
    }
}