@media screen and (max-width: 1200px) and (orientation: portrait) {
    body {
        font-size: 4vw;
    }
    .cabecalho {
        font-size: 1.2em;
        margin-top: 4%;
        padding: 4%;
    }
    .cabecalho h1 {
        width: min-content;
    }
    .slide {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .retangulo {
        width: 100%;
    }
    .retangulo .descricao-da-obra {
        margin-top: 5%;
        font-size: 1.2em;
    }
    .circulo {
        font-size: 1.6em;
        padding: 0.5em;
    }
    .foto {
        width: 80%;
    }
    .foto img {
        position: relative;
    }
    .indicacoes {
        gap: 4%;
        margin: 5% 0 8%;
    }
    .indicacoes .bolinha {
        width: 3em;
        height: 3em;
    }
}

@media screen and (max-width: 1200px) and (orientation: landscape) {
    .cabecalho {
        margin-top: 4%;
        padding: 2% 3%;
    }
    
    .slide-container {
        min-height: 60vh;
        max-height: max-content;
    }

    .retangulo .descricao-da-obra {
        font-size: 1.2em;
    }

    .indicacoes .bolinha {
        width: 3em;
        height: 3em;
    }
}
